body {
    margin: 60px auto;
}
@media screen and (min-width: 1024px) {
  body {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 80%;
  }
}
@media screen and (min-width: 480px) {
  body {
    width: 60%;
  }
}
nav ul, footer ul {
    font-family: 'Overpass', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 400;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a.top {
  text-decoration: none;
  color: #333
}
a:hover {
    text-decoration: underline;
    color: #ED2939
}
a.top:hover {
  text-decoration: none;
  color: #333
}
h1 {
    font-size: 3em;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
h2 {
  font-size: 1.8em;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}
p {
    font-family: 'Overpass', sans-serif;
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 400;
    color: #333;
}
p.meta {
  font-size: 1em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
