<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Overpass:300,400" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div class="media-container">
			<header>
				<a href="/" class="top"><h1>Garrett Martin</h1></a>
			<nav>
	    		<ul>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
		</header>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:martin.garrettl@gmail.com">email me</a></li>
				</ul>
			</footer>
		</div><!-- /.media-container -->
		</body>
	</html>
