<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header class="top">
				<a href="/"><h1>Garrett Martin</h1></a>
			<nav>
	    		<ul>
	        		<li><a href="/resume">My Work</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
		</header>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:martin.garrettl@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
